body
{
  color: white;
  background:#b30086;
  color: white;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#result_gesture_name 
{
  color: black;
  font-size: 25px;
}

.heading {

  font-size: 25px;
  border-radius: 10px;
  letter-spacing: 4px;
}

label{
  font-size: 15px;
  color:#000066 ;
  padding: 6px;
  border-radius: 10px;
  background-color: white;
}

